.flex {
  margin-top: 22px;
  display: flex;
  justify-content: center;
}
.img1 {
  width: 280px;
}

.borde {
  border: 10px solid;
  color: aqua;
  border-radius: 5px;
}

.flex2 {
  display: flex;
  justify-content: center;
}

.titulo {
  display: flex;
  justify-content: center;
}

.flex3 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 120px;
}

.boton {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
